layout {
    cwd "."
    // Root
    pane split_direction="horizontal" {
        // ZZZ Plugin Status Bar
        pane size=1 borderless=true {
            plugin location="file:/Users/rusha/code/zellij/plugins/zzz/target/wasm32-wasip1/debug/zzz.wasm"

        }

        pane split_direction="vertical" {
            pane command="zsh" {
                args "-i" "-c" "v claude" 
            }
            pane command="$EDITOR" {
                args "src/main.rs"
            }
        }
    }
    floating_panes {
        pane {
            plugin location="https://github.com/zellij-org/develop-rust-plugin/releases/download/v0.3.0/develop-rust-plugin.wasm"
        }
    }
}
